.bar {
  fill: steelblue;
  stroke: black;
}

.multi {
  cursor: pointer;
  &:hover {
    fill: brown;
  }
}

.axis {
  font: 11px sans-serif;
  text {
  	stroke: black;
  }
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.labelText {
  font: 13px sans-serif;
}

.airportCode {
  pointer-events: none;
}