:local(.container) {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
	text-align: left;
}

:local(.cityList) {
	display: inline-block;
	padding: 0;
	margin: 0 10px;
	vertical-align: top;
	list-style: none;
}

:local(.cityListClose) {
	font-weight: bold;
	cursor: pointer;
	margin-right: 5px;
	vertical-align: top;
}

:local(.cityListItem) {
	vertical-align: top;
}

:local(.input) {
	&:focus {
		outline: none;
	}
}

:local(.inputError) {
	composes: input;
	border: 1px solid red;
}

:local(select) {
	margin-bottom: 50px;
	display: block;
}