:local(.container) {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	text-align: left;
}

:local(.cityList) {
	display: inline-block;
	padding: 0;
	margin: 0 10px;
	vertical-align: top;
	list-style: none;
}

:local(.cityListClose) {
	font-weight: bold;
	cursor: pointer;
	margin-right: 5px;
	vertical-align: top;
}

:local(.cityListClose-disabled) {
	composes: cityListClose;
	color: grey;
	cursor: not-allowed;
}

:local(.cityListItem) {
	vertical-align: top;
}

:local(.input) {
	&:focus {
		outline: none;
	}
}

:local(.inputError) {
	composes: input;
	border: 1px solid red;
}

:local(select) {
	margin: 0 10px;
}

:local(.graph) {
	width: 100%;
	max-width: 800px;
	margin: auto;
}