@import '../../../styles/main';

:local(.container) {
	display: inline-block;
	vertical-align: top;
	margin: 10px 15px;
	text-align: left;
}

:local(form) {
	margin: 0 0 10px;
}

:local(.cityList) {
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: top;
	list-style: none;
	columns: 2;
}

:local(.cityListClose) {
	cursor: pointer;
	margin-right: 5px;
	vertical-align: top;
}

:local(.cityListClose-disabled) {
	composes: cityListClose;
	color: grey;
	cursor: not-allowed;
}

:local(.cityListItem) {
	vertical-align: top;
}

:local(.cityListItemError) {
	composes: cityListItem;
	color: $clr-error;
}

:local(.cityListItemShown) {
	composes: cityListItem;
	font-weight: bold;
}

:local(.input) {
	vertical-align: middle;
	display: inline;
	width: 55%;
	&:focus {
		outline: none;
	}
}

:local(.inputError) {
	border: 2px solid $clr-error;
}

:local(select) {
	margin: 0 10px;
}

:local(.graph) {
	width: 100%;
	max-width: 800px;
	margin: auto;
}

:local(i) {
	vertical-align: middle !important; // font-awesome override
}