:local(.outerContainer) {
	text-align: center;
	max-width: 95%;
	margin: auto;
}

:local(.container) {
	text-align: center;
	margin: 20px auto;
	font-size: 1.2em;
	display: inline-block;
	vertical-align: top;
}

:local(.graph) {
	width: 95%;
	height: 60%;
	max-width: 800px;
	max-height: 500px;
	margin: auto;
}

:local(.selectContainer) {
	display: inline-block;
	margin: 0 5px;
}

:local(label) {
	display: block;
}

:local(h1) {
	font-size: 1.9em;
}

:local(.emphasize) {
	font-weight: bold;
}