:local(.outerContainer) {
	text-align: center;
}

:local(.container) {
	text-align: center;
	margin: 30px auto;
	font-size: 1.2em;
	display: inline-block;
	vertical-align: top;
}

:local(.graph) {
	max-width: 800px;
	width: 100%;
	height: 600px;
	margin: auto;
}

:local(.selectContainer) {
	display: inline-block;
	margin: 0 5px;
}

:local(label) {
	display: block;
}

:local(h1) {
	font-size: 1.9em;
}

:local(.emphasize) {
	text-decoration: underline;
}